#answer {
  display: flex;
  justify-content: center;
  position: relative;
  margin: auto;
  width: auto;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: black;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 500px;
  text-align: justify;

}
#answerVideo {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  right: 0;
  left: 0;

}

.videoContent {
  position: relative;
  display: block;
  top: -100px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: auto;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
  padding-left: 20px;
  padding-right: 20px;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(-2500px);
  }
  100% {
    top: -6000px;
    transform:rotateX(25deg), translateZ(-2500px);
  }
}

#question {
  display: none;
}

#answer {
  display:

}

body {
  color: red;
}
