.button {
  position: relative;
  width: 30%;
  left: 35%;
}

.button img {
  width: 100%;
  height: auto;
}

.button .btn {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: none;
  color: white;
  font-weight: bold;
  font-size: 25px;
}


#answer {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

#answerVideo {
  position: fixed;
  min-width: 100%;
  min-height: auto;
  top: 0;
}

.videoContent {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  top:50px;
  z-index: 1;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  text-align: center;
  overflow: hidden;
  opacity: 0.4;
}



body {
  color: darkblue;
  text-align: center;
  background-image: url("img/sky.jpg");
  background-size: 100%;
  height: auto;
}
